@use "node_modules/bootstrap/scss/bootstrap.scss";
@use "./partials/_variables.scss" as *;
@use "./partials/_AppHeader.scss";
@use "./partials/_MenuComponent.scss";
@use "./partials/_SocialIcons.scss";
@use "./partials/_JumbotronComponent.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  color: $darker;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
