@use "./_variables.scss" as *;

.about {

  li:nth-child(even) {
    margin: 0 0.5rem;
  }

  a {
    color: $darker;
    transition: color 0.2s;

    &:hover {
      color: $lighter;
    }
    
  }

}
