@use "./_variables.scss" as *;

header {

  #logo {
    cursor: pointer;

    img {
      height: 45px;
    }
    
  }

  a {
    color: $darker;
    font-weight: 700;
    transition: color 0.2s;

    &.active {
      color: $accent;
    }

    &:hover {
      color: $accent;
    }

  }

}
