@use "./_variables.scss" as *;

.blog {

  li:nth-child(even) {
    margin: 1rem 0;
  }

  a {
    text-decoration: none;
    color: $darker;
    transition: color 0.2s;

    &:hover {
      color: $lighter;
    }

    h6 {
      font-weight: 700;
    }

    span {
      color: grey;
      font-size: 0.875rem;
      font-weight: 400;
    }

  }

}
