@use "./_variables.scss" as *;

#menu {

  li:nth-child(even) {
    margin: 0 1.5rem;
  }

  .badge_new {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0.75rem, -80%);
    font-size: 0.625rem;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    color: $lighter;
    background-color: $badge;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .active_menu {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 10px);
    width: 100%;
    height: 7px;
    background-color: $accent;
    clip-path: polygon(0 4px, calc(50% - 4px) 4px, 50% 0, calc(50% + 4px) 4px, 100% 4px, 100% 100%, 0 100%);
    animation: fades-in 0.2s 1;
  }

  @keyframes fades-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}
