@use "./_variables.scss" as *;

#new_courses {
  background-color: $light;

  h2 {
    font-weight: 700;
  }

  button {
    color: $lighter;
    background-color: $accent;
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: background-color 0.2s;

    &:hover {
      background-color: $accent-hover;
    }

  }

}
