@use "./_variables.scss" as *;

.right_section {
  width: 48%;

  li:nth-child(even) {
    margin: 0 1.5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: $lighter;
    margin-bottom: 1rem;
  }

  h5 {
    font-weight: 700;
  }
  
  &.offer_over {
    font-size: 4rem;
    font-weight: 700;
    color: $lighter;
  }

}
