@use "./_variables.scss" as *;

#offer_banner {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -62%);
  z-index: 1;
  width: 100%;
  max-width: calc(100vw - min(10vw, 10rem));
  background-color: $accent;
  margin-bottom: 0;
  padding: 65px min(4vw, 4rem);

  .left_section {
    width: 48%;

    h3 {
      color: $lighter;
      font-weight: 700;

      span {
        color: $darker;
      }

    }

    input {
      width: 100%;
      padding: 0.875rem 1.5rem;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      color: $lighter;
      background-color: $dark;
      padding: 0.875rem 1.5rem;
    }

  }
  
}
