@use "./_variables.scss" as *;

.single_course {

  .card:hover {
    cursor: pointer;

    .course_hover {
      opacity: 1;
    }

  }

  .special {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 1;
    font-size: 12px;
    padding: 0.125rem 0.25rem;
    color: $lighter;
    background-color: $accent;
  }

  .course_hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $lighter;
    background: linear-gradient(180deg, $darker-semitransparent, $darker-semitransparent 60%, $darker);
    font-weight: 900;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .card-body {
    
    span {
      display: block;
      color: $neutral;
    }

  }

  svg {
    color: $accent;
    margin: 0 0.5rem;
  }
  
}
