@use "./_variables.scss" as *;

.single_reason {

  .card {
    border: none;
    border-left: 4px solid $accent;
    box-shadow: 0 3px 8px -2px $neutral;
    transition: background-color 0.2s, box-shadow 0.2s;

    &:hover {
      background-color: $accent;
      box-shadow: 0 3px 8px -2px $accent;
      cursor: pointer;

      svg {
        color: $lighter;
      }

      span {
        color: $darker;
      }

    }

    svg {
      font-size: 3rem;
      padding-right: 1.5rem;
      color: $accent;
      transition: color 0.2s;
    }

    h4 {
      font-weight: 700;
    }

    span {
      color: $neutral;
      transition: color 0.2s;
    }

  }

}
