$lighter: #ffffff;
$lighter-semitransparent: #ffffffbb;
$darker: #333333;
$darker-semitransparent: #333333bb;
$light: #edf2f5;
$dark: #2d4649;
$accent: #f2b91e;
$accent-hover: #e7ae13;
$badge: #dd1748;
$neutral: #aaaaaa;
$scrollbase: #efefef;
$scrollhover: #d89f04;
